header img{
    height: 22.83vh;
    width: 22.83vh;
}

ul  {
    margin-left: 3.04vh;
}

.carousel-item{
    background-color: 	#c7c7c7;
}
.carrosel{
    height: 45.66vh;
    margin-top: 7.61vh;
    padding: 4.56vh;
    
    
    

}
.produtos {
    width: 143.07vh;
    margin: 0 auto;
    padding: 7.61vh 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 13.69vh;
    padding: 4.56vh 3.04vh;
    box-sizing: border-box;
    border:  0.30vh solid #000000;
    border-radius: 1.52vh;
    background-color:#c7c7c7 ;
    
}
.produtos li:hover {
    border-color: #C78C19;
}
.produtos li:active {
    border-color: #088C19;    
}
.produtos li:hover h2 {
    font-size: 5.17vh;
}

.produtos h2 {
    font-size: 4.56vh;
    font-weight: bold;
}
.imagem{
    height:  30.44vh;
    width:  30.44vh;
    
}

.card{
    height: 68.49vh;
    background-color:#c7c7c7!important;
    
}
.tamanho{
    height:  54.79vh;
    width: 42.61vh;
    display: flex;
}
.navbar-nav{
    margin-left: 80%;
}