.carousel-item{
    background-color: 	#c7c7c7;
}
.carrosel{
    height: 45.66vh;
    margin-top: 7.61vh;
    padding: 4.56vh;
    
    
    

}
.py-5{
    margin-top: 20px;
}
.card{
    height: 76.10vh;
    background-color:#c7c7c7!important;
    
}